.gallery {
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.img {
  height: 300px;
  display: flex;
  align-items: center;
}
.info {
  line-height: 1.5;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.info-item {
  display: flex;
  flex-direction: column;
}
.search-form {
  text-align: center;
}
